/*Custom CSS for IG Clone*/

body {
  background-color: #FFFFFF;
}

#navbar {
  position: fixed;
  width:100%;
  z-index: +1;
}

#header_logo {
  height: 56px;
  padding-top:6px;
}

#headeractions img{
  height: 40px;
  padding-top:10px;
}

#search {
  padding-top: 24px;
}

#post_comment1, #post_comment2 {
  color: #A5A5A5;
}

#search_text {
  background-color: #FFFFFF;
  border-radius: 3px;
  border: 1px solid #E1E1E1;
  text-align: center;
  font-weight: lighter;
  background-image: url("magnifying_glass.png");
  background-size: 25px 25px;
  background-position: 35px;
  background-repeat: no-repeat;
}

#search_text:focus {
  background-color: #8C8C8C;
  color: #FFFFFF;
  text-align: left;
  padding-left: 25px;
  background-image: url("magnifying_glass.png");
  background-position: left;
}

#stories {
  float: right;
  padding-right: 10%;
  padding-top: 10%;
  text-align: center;
  overflow: scroll;
  height: 550px;
  width: 33%;
}

#stories_text {
  color:#8C8C8C;
}

.prof_bar img{
  height: 70px;
}

#account1, #account2 {
  font-size: 1.2em;
}

#post-1 {
    padding-top: 10%;
    padding-left: 10%;
    width: 63%;
}

#pic1, #pic2 {
  position: relative;
  display: block;
}

#recommended{
  padding-top: 5%;
  padding-left: 10%;
  width: 63%;
}

#post-2 {
  padding-top: 5%;
  padding-left: 10%;
  width: 63%;
  padding-bottom: 10%;
}

.accounts img{
  height: 55px;
  margin: 5px;
}

@media only screen and (max-width: 1000px) {
    #stories {
      display: none;
    }
    #post-1{
      width:90%;
    }
    #post-2 {
      width: 90%;
    }
    #recommended {
      width: 90%;
    }

}

#like1, #like2 {
  padding-left: 25px;
}

#save1 {
  right: 30px;
}

.caption {
  padding-left: 25px;
}

.comments {
  padding-left: 25px;
}

.post_time {
  padding-left: 25px;
  color: #A5A5A5;
  font-size: 0.8em;
}

#follow1, #follow2, #follow3 {
  width: 80%;
  margin: 10%;
  background-color: rgb(40,135,235);
  color: #FFFFFF;
}

#sug_sec_1, #sug_sec_2, #sug_sec_3 {
  text-align: center;
  width:25%;
  margin-bottom: 5%;
  margin-top: 5%;
}

#sug_prof_1, #sug_prof_2, #sug_prof_3 {
  margin:10%;
  margin-left: 25%;
  height:100px;
  width:100px;
}

#suggestion, #suggestion2 {
  margin-top: 20px;
  margin-bottom: -25px;
  font-weight: bold;
  font-size: 1.2em;
}

#suggestion2 {
  color:#2887EB;
}

footer {
  padding: 25px;
}

.footerlinks {
  text-align: center;
  font-weight: bolder;
  color: #00356A;
}

.copyright {
  text-align: center;
  font-weight: lighter;
  color: #A5A5A5;
}

.pic_actions img{
  height: 40px;
}
